.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

#banner h1,h2,h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

@mixin hero-base($bgcolor) {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: $bgcolor;
  @include border-radius(10px);
}

.hero-unit {
  @include hero-base(#4393B9);
}

.hero2 {
  @include hero-base(#606060);
}

.navbar-text {
  margin-left: 15px;
}

.full-width {
  display: block;
  width: 100%;
}

.panel-buttons {
  display: block;
  text-align: center;
  .btn {
    width: 100%;
  }
  .badge {
    margin-left: 20px;
  }
}
