navbar

header#banner.hero-unit(ng-hide='ctrl.isLoggedIn()')
  .container
    h1 'Welcome to the GA-laxy!
    p.lead Instructor / Student Interface
    img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container
  .row
    .col-lg-12
      h1(ng-hide='ctrl.isLoggedIn()') Please Login to Continue...
      h1(ng-show='ctrl.isLoggedIn()') Awesome stuff goes here!

footer
