header#banner.hero-unit
  .container
    .row(ng-hide='ctrl.isLoggedIn()')
      .col-lg-12
        h1 'Welcome to the GA-laxy!
        p.lead Instructor / Student Interface
        h3 Please Login to Continue...

    .row(ng-show='ctrl.isLoggedIn()')
      .col-lg-12
        h3(ng-show='ctrl.isLoggedIn()') Awesome stuff goes here!

footer
